/* loader css */
.loader .loadertile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: #007ae5;
  transition: width 0.7s ease;
}
.loader .loadertile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
}
.loader .loadertile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}
.loader .loadertile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
}
.loader .loadertile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
}
.loader .loadertile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
}
.loader .loadertile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}
/* loader active css */
.loader--active {
  width: 100%;
  transition-delay: 0s;
}
.loader--active .loader__icon {
  opacity: 1;
  transition: opacity 0.5s 1.4s ease;
}
.loader--active .loadertile {
  width: 100%;
}
.loader--active .loadertile:nth-child(0) {
  transition-delay: -0.2s;
}
.loader--active .loadertile:nth-child(1) {
  transition-delay: 0s;
}
.loader--active .loadertile:nth-child(2) {
  transition-delay: 0.2s;
}
.loader--active .loadertile:nth-child(3) {
  transition-delay: 0.4s;
}
.loader--active .loadertile:nth-child(4) {
  transition-delay: 0.6s;
}
.loader--active .loadertile:nth-child(5) {
  transition-delay: 0.8s;
}
